# .gitignore

# Archivos de sistema operativo
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes

# Dependencias y entornos
node_modules/
dist/
build/
.env
.env.local
*.log

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3
instance/
.pytest_cache/
